<section class="content" id="text">
  <div class="row">
    <div class="col-lg-6">
      <div class="box">
        <div class="box-header">
          <h4 class="box-title"><%= title %></h4>
        </div>
        <div class="box-body">
					<label for="text">Text</label>
          <input type="text" v-model="text" id="text" class="form-control">
        </div>
        <div class="box-footer clearfix">
          <div class="pull-right">
            <button class="btn btn-primary" id="generate" @click="generate">
              <i class="ion ion-speakerphone"></i>
              Generate
            </button>
          </div>
       </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="box">
        <div class="box-body" v-if="isvoice">
          <audio controls :src="voice">
          Your browser does not support the audio element.
          </audio>
        </div>
        <div class="box-footer clearfix">
          <p v-if="valid" style="color: green;">{{message}}</p>
          <p v-if="!valid" style="color: red;">{{message}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io()
  var text = new Vue({
    el: '#text',
    data: {
      text: '',
      message: '',
      isvoice: false,
      valid: true,
      voice: ``
    },
    methods: {
      generate() {
        socket.emit("sendText", this.text, (error) => {
          if (error) {
            this.valid = false
            this.message = error
          }
          socket.on("message", (msg) => {
            this.valid = true
            this.isvoice = true
            this.message = msg
            this.voice = `/${this.text}.mp3`
          })
          console.log('Text to speech converted!')
        })
      }
    }
  })
</script>