<!-- Left side column. contains the logo and sidebar -->
<aside class="left-side sidebar-offcanvas">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="/img/avatar3.png" class="img-circle" alt="User Image" />
			</div>
		</div>
		<!-- /Sidebar user panel -->

		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu">
			<li><a href="/" class="nav-link active"><i class="fa fa-home"></i> Home</a></li>
			<li class="treeview">
				<a href="#">
					<span>AI</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li>
						<a href="/classification">
							<i class="fa fa-image"></i> <span>Image Classification</span>
						</a>
					</li>
					<li>
						<a href="/voice">
							<i class="fa fa-image"></i> <span>Speech to text</span>
						</a>
					</li>
					<li>
						<a href="/clock">
							<i class="fa fa-clock"></i> <span>Clock</span>
						</a>
					</li>
				</ul>
			</li>
    </ul>
  </section>
</aside>