<!-- Left side column. contains the logo and sidebar -->
<aside class="left-side sidebar-offcanvas">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="/img/avatar3.png" class="img-circle" alt="User Image" />
			</div>
		</div>
		<!-- /Sidebar user panel -->

		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu">
			<li><a href="/" class="nav-link active"><i class="fa fa-home"></i> Home</a></li>
			<li class="treeview">
				<a href="#">
					<i class="ion ion-chatbox-working"></i> <span>NLP</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li>
						<a href="/tomorse">
							<i class="fa fa-lock"></i> <span>Text to Morse</span>
						</a>
					</li>
					<li>
						<a href="/morse">
							<i class="fa fa-unlock"></i> <span>Morse to Text</span>
						</a>
					</li>
					<li>
						<a href="/imagegenerator">
							<i class="ion ion-image"></i> <span>Image Generator</span>
						</a>
					</li>
					<li>
						<a href="/classification">
							<i class="fa fa-pencil"></i> <span>Text Classification</span>
						</a>
					</li>
					<li>
						<a href="/input">
							<i class="ion ion-chatbox-working"></i> <span>Question and Answer</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="treeview">
				<a href="#">
					<i class="ion ion-eye"></i> <span>Vision</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li>
						<a href="/classifier">
							<i class="ion ion-image"></i> <span>Image Classifier</span>
						</a>
					</li>
					<li>
						<a href="/face">
							<i class="ion ion-camera"></i> <span>Face Classifier</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="treeview">
				<a href="#">
					<i class="ion ion-android-microphone"></i> <span>Speech</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li>
						<a href="/voice">
							<i class="ion ion-android-microphone"></i> <span>Speech to Text</span>
						</a>
					</li>
					<li>
						<a href="/text">
							<i class="fa fa-pencil"></i> <span>Text to Speech</span>
						</a>
					</li>
				</ul>
			</li>
    </ul>
  </section>
</aside>