<!-- Main content -->
<section class="content" id="classification">
	<!-- Small boxes (Stat box) -->
	<div class="row">
    <div class="col-lg-6">
      <div class="box">
        <div class="box-body">
					<label for="text">Text</label>
          <input type="text" v-model="text" id="text" class="form-control">
        </div>
        <div class="box-footer clearfix">
          <div class="pull-right">
            <button class="btn btn-primary" id="input" @click="input">
              <i class="fa fa-pencil"></i>
              Input
            </button>
          </div>
       </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="box">
        <div class="box-header">
          <h4 class="box-title">Reply</h4>
        </div>
        <div class="box-body">
					<p v-if="valid" style="color: green;">{{reply}}</p>
          <p v-if="!valid" style="color: red;">{{reply}}</p>
          <p v-if="sentiment >= 0" style="color: green;">Sentiment {{sentiment}}</p>
          <p v-if="sentiment < 0" style="color: red;">Sentiment {{sentiment}}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<script>  
  var text = new Vue({
    el: "#classification",
    data: {
      text: ``,
      reply: ``,
      sentiment: 0,
      valid: true
    },
    methods: {
      input() {
        let vm = this
        axios.post('api/v1/ai/classification', { text: vm.text },
        {
          headers: {
            Authorization : `Bearer ${localStorage.getItem("token")}`
          }
        })
        .then((res) => {
          let data = res.data.data
          vm.reply = data.class
          vm.sentiment = data.sentiment.toFixed(2)
          if (vm.sentiment < 0) {
            vm.valid = false
            vm.reply = "Negative Word"
          }
          if (vm.sentiment >= 0) {
            vm.valid = true
            vm.reply = "Positive Word"
          }
        })
        .catch((e) => {
          vm.valid = false
          vm.reply = error.response.data.message
          if (vm.message.name) location.replace('/login')
        })
      }
    }
  })
</script>