<!-- Main content -->
<section class="content" id="text">
	<!-- Small boxes (Stat box) -->
	<div class="row">
    <div class="col-lg-6">
      <div class="box">
        <div class="box-body">
					<label for="text">Text</label>
          <input type="text" v-model="text" id="text" class="form-control">
        </div>
        <div class="box-footer clearfix">
          <div class="pull-right">
            <button class="btn btn-primary" id="input" @click="input">
              <i class="fa fa-pencil"></i>
              Input
            </button>
          </div>
       </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="box">
        <div class="box-header">
          <h4 class="box-title">Reply</h4>
        </div>
        <div class="box-body">
					<p v-html="reply"></p>
        </div>
        <div class="box-footer clearfix">
          <p v-if="valid" style="color: green;">{{message}}</p>
          <p v-if="!valid" style="color: red;">{{message}}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<script>  
  var text = new Vue({
    el: "#text",
    data: {
      text: ``,
      reply: ``,
      valid: true,
      message: ``
    },
    methods: {
      input() {
        let vm = this
        axios.post('api/v1/ai/input', { input: vm.text },
        {
          headers: {
            Authorization : `Bearer ${localStorage.getItem("token")}`
          }
        })
        .then((res) => {
          let data = res.data.data, message = res.data.message
          vm.message = message
          vm.reply = data.reply
          vm.valid = true
        })
        .catch((error) => {
          // handle error
          vm.valid = false
          vm.reply = ''
          vm.message = error.response.data.message
          if (vm.message.name) location.replace('/login')
        })
      }
    }
  })
</script>